# IPython checkpoints
.ipynb_checkpoints/*
*.1

# Log files (unless specifically added)
log/*
*.log

# Images
img/*
*.png

# Notes (unless specifically added)
*.pdf

# Models and datasets
output/*
models/*
*.h5
*.xz
*.zst
*.gz
*.zip
